<footer>
    <div class="container">
    </div>
</footer>
        {% block javascripts %}
            {% do assets.addJs('theme://dist/scripts/brexton.js') %}
        {% endblock %}

        {{ assets.js() }}
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js"></script>

    </div> {# page container #}
    </body>
</html>
