<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ grav.language.getLanguage ?: 'en' }}" > <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{{ site.title }}{% if header.title %} | {{ header.title }}{% endif %}</title>

        {% include 'partials/metadata.html.twig' %}

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/png" href="{{ url('theme://img/favicon.ico') }}" />
        <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.css" type="text/css" rel="stylesheet" />
        <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />

        <meta property="og:title" content="Jonthan Erwin">

        {% block stylesheets %}
            {% do assets.addCss('theme://dist/styles/brexton.min.css') %}
        {% endblock %}

        {{ assets.css() }}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Google Analytics code
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-42603742-2', 'auto');
            ga('send', 'pageview');
        </script>
         -->
        {% endblock head %}
    </head>

    <body class="main">
        <div class="page-container">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- open/close -->
        <div class="container-fluid header">
            <div class="col-xs-12 text-center">
                <div class="col-xs-12">
                <a class="big-underline h1" href="/">
                    <span>Vincent</span>
                    <span>Purcell</span>
                </a>
              </div>
            </div>
        </div>
