<!-- Navigation -->
<div class="social-links">

    <a class="social" href="https://www.linkedin.com/in/vincent-purcell-19b50611">
        <span class="sr-only">LinkedIn</span>
        <i class="fa fa-linkedin"></i>
    </a>

    <a class="social" href="https://github.com/vpurcell">
        <span class="sr-only">Github</span>
        <i class="fa fa-github"></i>
    </a>

    <a class="social" href="http://instagram.com/jadedoto">
        <span class="sr-only">Instagram</span>
        <i class="fa fa-instagram"></i>
    </a>

    <a class="social" href="mailto:vpurcell@mica.edu">
        <span class="sr-only">Email</span>
        <i style="margin-left: -0.75rem" class="fa fa-envelope"></i>
    </a>
</div>

<a class="menu-toggle" onclick="$(body).toggleClass('menu-open'); $('.menu-toggle').toggleClass('open')">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</a>

<nav id="menu" class="text-center">
    <ul>
        {% for p in page.collection %}
            <li><a {% if p.url == page.url %} class="h2" {% endif %} href="{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
    </ul>
</nav>
