/**** Error Page Styles ****/
#error-page {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;

    h1, p {
        color: white;
    }

    .home-link a {
        color: white;
        i {
            margin: .5em;
        }
    }

    .message {
        top: 0;
        z-index: 500;
        text-align: center;
        width: 100%;
    }

    .poster img {
        width: 100%;
        bottom: 0;
        position: fixed;
        z-index:-100;
    }
}
