.header {
    padding-top: 1em;
    padding-bottom: 1.5em;

    @include when-sm() {
        padding-top: 4em;
        padding-bottom: 0;

        > .text-center {
            text-align: left;
            padding-left: 0;
        }
    }

    a.big-underline {
        font-weight: bold;
        font-size: 4em;
        letter-spacing: 0.02em;

        @include when-sm() {
            line-height: 1.1;
            font-size: 2.5em;
        }

        span {
            text-decoration: none !important;
        }

        &:hover {
            text-decoration: none !important;
            margin: -0.75rem;
            padding: 0.75rem;
        }
    }
}

.card-container {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    display: flex;
    justify-content: center;
    align-items: space-around;
    height: 50vh;
    overflow-x: hidden;
    min-height: 150px;
    padding: 2em;
    margin: 2em 0;
    cursor: pointer;

    .card-title {
        color: white;
        padding: 0;
        margin: 0;
        font-size: 3em;
        align-self: center;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        @include when-md() {
            font-size: 2em;
        }

        @include when-sm() {
            font-size: 1.8em;
        }

        &:hover {

        }
    }
}
