body.main {
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    //border: 1.25em solid black;

    .page-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.portfolio-images {
    .images-container {
        a {
            box-shadow: none !important;
        }
        margin-top: 1em;
        column-count: 4;
        column-gap: 1em;
        @include when-md() {
            column-count: 3;
        }
        @include when-sm() {
            column-count: 2;
        }
        @include when-xs() {
            column-count: 1;
        }
        .item {
            //display: inline-block;
            margin: 0 0 1em;
            width: 100%;
        }
    }
    img {
        width: 100%;
    }
}

body {
    #menu {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        top: -110vh;
        bottom: 110vh;
        left: 0;
        right: 0;
        z-index: 10;
        //margin-bottom: 1.25em;
        //margin-top: 1.25em;
        overflow: hidden;
    }

    &.menu-open {
        overflow: hidden;
        > .page-container {
            overflow: hidden;
        }
        .social-links {
            a {
                color: white;
            }
        }
        #menu {
            padding: 4em;
            top: 0;
            bottom: 0;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }
}
