.social-links {
    position: fixed;
    text-align: center;
    top: 1.25em;
    right: 2.5em;
    width: 3em;
    padding: 0;
    z-index: 1037;
    text-decoration: none !important;
    transform: translate3d(0,0,0);

    a {
        transform: translate3d(0,0,0);
        font-size: 3rem;
        margin: 0;
        text-decoration: none !important;
        &:hover {
            text-decoration: none !important;
            color: white !important;
        }
    }
}

#menu {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            width: 100%;
            padding-top: 1em;
            padding-bottom: 1em;
            a {
                text-transform: uppercase;
                color: white !important;
                text-decoration: none !important;
                font-size: 3em;
                font-weight: bold;
                @include when-sm() {
                  font-size: 1.5em;
                }
                &:hover {
                    text-decoration: none !important;
                    color: darken(white, 5%) !important;
                }
            }
        }
    }
}

body.dark {
    a.menu-toggle {
        .bar, &:after {
            background-color: white;
        }
    }
    background: white;
    .social-links a {
        color: white;
    }
}

body.light {
    a.menu-toggle {
        .bar, &:after {
            background-color: black;
        }
    }
    background: black;
    .social-links a {
        color: black;
    }
}

a.menu-toggle {
    transform: translate3d(0,0,0);
    position: fixed;
    top: 2.5rem;
    left: 2rem;
    cursor: pointer;
    width: 5em;
    height: 3em;
    text-align: center;
    padding: 0;
    line-height: 5em;
    z-index: 1036;
    text-decoration: none !important;
    &:after {
        display: block;
        margin-top: 1.5em;
        opacity: 1;
        transition: .2s;
    }
    &:hover {
        .bar {
            background: white !important;
        }
        background: none;
        text-decoration: none !important;
    }
    &.open {
        background: none;
        .bar {
            left: 1em;
            right: 1em;
            background: white;
            &:nth-child(1) {
                top: 50%;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                top: 50%;
                transform: rotate(135deg);
            }
        }
    }
    .bar {
        display: block;
        content: ' ';
        height: .5em;
        position: absolute;
        left: 1em;
        right: 1em;
        &:nth-child(1) {
            top: .5em;
        }
        &:nth-child(2) {
            top: 1.345em;
        }
        &:nth-child(3) {
            bottom: .25em;
        }
    }
}
