p {
    font-size: 2rem;
    line-height: 1.6;
}

body {
    &.light {
        p, h1, h2, h3, h4, h5, h6 {
            color: black;
        }

        .portfolio-header {
            h1, h2 {
                color: black;
            }

            ol {
                margin-left: 2rem;
                padding-left: 0;
                li {
                    color: black;
                    font-size: 2rem;
                    line-height: 1.6;
                    padding-left: 0.5rem;
                }
            }
        }

        .card-container .card-title {
            color: black;
            transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
            box-shadow: inset 0 -0.21rem 0 0 black;
            padding: .5rem;
            margin: -0.5rem;
            &:hover {
                box-shadow: inset 0 -7rem 0 0 black;
            }
        }

        .body a {
            color: black;
            text-decoration: none !important;
            box-shadow: inset 0 -0.1rem 0 0 black;
            transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

            // Color is done in JS so it can match the page.
            &:hover {
                padding: .5rem;
                margin: -0.5rem;
                box-shadow: inset 0 -3rem 0 0 black;
            }
        }

        .header a.big-underline {
            color: black;
            &:hover {
                color: lighten(black, 10%);
                span {
                    box-shadow: inset 0 -0.21em 0 0 lighten(black, 10%);
                }
            }
            span {
                box-shadow: inset 0 -0.21em 0 0 black;
            }
        }
    }

    &.dark {
        p, h1, h2, h3, h4, h5, h6 {
            color: white;
        }

        .portfolio-header {
            h1, h2 {
                color: white;
            }

            ol {
                margin-left: 2rem;
                padding-left: 0;
                li {
                    color: white;
                    font-size: 2rem;
                    line-height: 1.6;
                    padding-left: 0.5rem;
                }
            }
        }

        .card-container .card-title {
            color: white;
            padding: 0.5rem 1rem;
            margin: -0.5rem -1rem;
            transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
            box-shadow: inset 0 -0.21rem 0 0 white;
            &:hover {
                box-shadow: inset 0 -7rem 0 0 white;
            }
        }

        .body a {
            color: white;
            text-decoration: none !important;
            box-shadow: inset 0 -0.1rem 0 0 white;
            transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

            // Color is done in JS so it can match the page.
            &:hover {
                padding: .5rem;
                margin: -0.5rem;
                box-shadow: inset 0 -3rem 0 0 white;
            }
        }

        .header a.big-underline {
            color: white;
            &:hover {
                color: darken(white, 10%);
                span {
                    box-shadow: inset 0 -0.21em 0 0 darken(white, 10%);
                }
            }
            span {
                box-shadow: inset 0 -0.21em 0 0 white;
            }
        }
    }
}

.portfolio-header {
    h1 {
        font-weight: bold;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom: 0em;
    }

    h2 {
        font-weight: bold;
        margin-top: .5em;
        margin-bottom: 1em;
    }

    h3 {
        font-weight: bold;
        margin-top: 1em;
    }

    p {
        font-size: 2rem;
        line-height: 1.6;
    }
}
