$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

$transition: all 0.3s cubic-bezier(.25,.8,.25,1);
$transition-slow: all 1s cubic-bezier(.25,.8,.25,1);

$primary-color: rgb(14, 181, 138);

$screen-xs-max: 480px;
$screen-sm-max: 767px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;

@mixin when-xs() { @media (max-width: $screen-xs-max) { @content; } }
@mixin when-sm() { @media (max-width: $screen-sm-max) { @content; } }
@mixin when-md() { @media (max-width: $screen-md-max) { @content; } }
@mixin when-lg() { @media (max-width: $screen-lg-max) { @content; } }

@import 'layout';
@import 'error-page';
@import 'footer';
@import 'menu';
@import 'homepage';
@import 'typography';
