{% include 'partials/header.html.twig' %}

{% block body %}

<div id="error-page">
    <div class="message">
        <h1>Error {{ page.header.http_response_code }}</h1>
        {{ page.content }}
        <p class="home-link"><a href="/"><i class="fa fa-arrow-right" aria-hidden="true"></i>Get Outta Here!<i class="fa fa-arrow-left" aria-hidden="true"></i></a></p>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://dist/scripts/brexton.js') %}
{% endblock %}

{{ assets.js() }}

<script>
    if (Math.round(Math.random())) {
        $('body').css({
            'background': 'url("/error-page/error2.gif") no-repeat',
            'background-size': 'cover',
            'background-position': 'center'
        });
    } else {
        $('body').css({
            'background': 'url("/error-page/error.gif") no-repeat',
            'background-size': 'cover',
            'background-position': 'center'
        });
    }
</script>
