{% include 'partials/header.html.twig' %}
{% include 'partials/navigation.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
          <div class="body col-xs-12">
                {% block content %}
                    {{ page.content }}
                {% endblock %}
            </div>
            </div>
        </div>
    </div>

    {% if page.collection.count > 0 %}
        <div class="portfolio">
            <div class="container">
                {% for p in page.collection %}
                <div class="row">
                  <div class="col-xs-12">
                    <a class="col-xs-12" href="{{ p.url }}">
                        <article class="col-xs-12 card-container" data-img="{{ p.url }}/header_image.jpg">
                            <h4 class="card-title">{{p.title}}</h4>
                        </article>
                    </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% include 'partials/footer.html.twig' %}
