
{% include 'partials/header.html.twig' %}
<div class="container-fluid home slide-container">

{% include 'partials/navigation.html.twig' %}

{% block body %}

<div class="slide featured introduction portfolio-content body">
    <div class="container">
        <div class="row portfolio-header">
            <article class="col-xs-12">
                {{ page.content }}
            </article>
        </div>

        <div class="row portfolio-images">
            <div class="col-xs-12 images-container" data-featherlight-gallery data-featherlight-filter="a">
            {% for image in page.media.images %}
                <div class="item">
                    <a href="#" class="gallery" data-featherlight="{{page.url}}/{{image.filename}}">
                        <img src="{{page.url}}/{{image.filename}}" />
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% include 'partials/footer.html.twig' %}
